<div class="Menu">
  <div class="logo"><img src="assets/logo.png" ></div>

  <div class="nav">

      <li class="ListItem" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/']">Главная</a></li>
      <li class="ListItem" routerLinkActive="active"><a [routerLink]="['/menu']" >Меню</a></li>
      <li class="ListItem" routerLinkActive="active"><a [routerLink]="['/contacts']" >Контакты</a></li>
      <li class="ListItem" routerLinkActive="active"><a [routerLink]="['/franchise']" >Франшиза</a></li>

  </div>

    <li class="LastItem" routerLinkActive="active"><a [routerLink]="['/cart']" ><img src="assets/cart.png" ></a></li>

</div>
