<div class="menuList container">
<div class="goodsCard">
<div class="goodsImage">
  <img src="assets/orangeTea.png" >
</div>
  <div class="goodsDescription">
    <p>На черном чае апельсиновый</p>
    <div class="btnCover">
      <button class="btn2">300 мл</button>
      <button class="btn2">400 мл</button>
      <button class="btn2">500 мл</button>
    </div>
    <hr>
    <div class="order">
      <div class="price">180 ₽</div>
      <div class="cart"><img src="assets/cartImg.png" ></div>
    </div>
  </div>
</div>
  <div class="goodsCard">
    <div class="goodsImage">
      <img src="assets/orangeTea.png" >
    </div>
    <div class="goodsDescription">
      <p>На черном чае апельсиновый</p>
      <div class="btnCover">
        <button class="btn2">300 мл</button>
        <button class="btn2">400 мл</button>
        <button class="btn2">500 мл</button>
      </div>
      <hr>
      <div class="order">
        <div class="price">180 ₽</div>
        <div class="cart"><img src="assets/cartImg.png" ></div>
      </div>
    </div>
  </div>
  <div class="goodsCard">
    <div class="goodsImage">
      <img src="assets/orangeTea.png" >
    </div>
    <div class="goodsDescription">
      <p>На черном чае апельсиновый</p>
      <div class="btnCover">
        <button class="btn2">300 мл</button>
        <button class="btn2">400 мл</button>
        <button class="btn2">500 мл</button>
      </div>
      <hr>
      <div class="order">
        <div class="price">180 ₽</div>
        <div class="cart"><img src="assets/cartImg.png" ></div>
      </div>
    </div>

  </div>
  <div class="goodsCard">
    <div class="goodsImage">
      <img src="assets/orangeTea.png" >
    </div>
    <div class="goodsDescription">
      <p>На черном чае апельсиновый</p>
      <div class="btnCover">
        <button class="btn2">300 мл</button>
        <button class="btn2">400 мл</button>
        <button class="btn2">500 мл</button>
      </div>
      <hr>
      <div class="order">
        <div class="price">180 ₽</div>
        <div class="cart"><img src="assets/cartImg.png" ></div>
      </div>
    </div>

  </div>
  <div class="goodsCard">
    <div class="goodsImage">
      <img src="assets/orangeTea.png" >
    </div>
    <div class="goodsDescription">
      <p>На черном чае апельсиновый</p>
      <div class="btnCover">
        <button class="btn2">300 мл</button>
        <button class="btn2">400 мл</button>
        <button class="btn2">500 мл</button>
      </div>
      <hr>
      <div class="order">
        <div class="price">180 ₽</div>
        <div class="cart"><img src="assets/cartImg.png" ></div>
      </div>
    </div>

  </div>

</div>
