.pic{
  width: 413px;
  height: 696px;
}
.ad{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.offer{
  font-family: Roboto,sans-serif;
  font-size: 1.3rem;
  width: 30vw;
}
.offer h1{
  font-size: 4rem;
  font-family: 'Jacques Francois', serif;
}
.btn{
  font-family: 'Comfortaa', cursive;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 98px;
  background: linear-gradient(96deg, #C35100 20.28%, #845628 76.47%);
  box-shadow: 0px 9px 35px 0px rgba(184, 110, 54, 0.97);
}

